---
// Component Imports
import Button from "../components/Button.astro";
import About from "../components/About.astro";
import Specialties from "../components/Specialties.astro";
import SiteLayout from "../layouts/SiteLayout.astro";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<SiteLayout>
  <main>
	<About />
	<Specialties />
  </main>
</SiteLayout>
