---
import Button from "../components/Button.astro"
import {BackgroundBeams} from "../components/ui/background-beams"
import SiteLayout from "../layouts/SiteLayout.astro"
---
  <SiteLayout>
    <div class="min-h-screen w-full bg-neutral-950 relative flex flex-col items-center justify-center antialiased">
      <a href="https://53bc2d69-cd5d-4135-a6b8-ea16962a934c-00-2kbalycw4u8yx.worf.replit.dev/">Tetris</a>
       <a href="https://c16e317b-26da-4abc-a0a1-5a0d95b19b82-00-338u2gtstn4h5.worf.replit.dev">Maps</a>
       <a href="https://classifier.aldiery.com">Classifier</a>
       <a href="https://cmo.aldiery.com">CMO</a>


    </div>
  </SiteLayout>
