@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebar-icon {
    @apply  relative flex items-center justify-center h-12 w-12 my-3 mx-auto 
            shadow-xl bg-gray-900 text-gray-100 hover:bg-gray-700 
            cursor-pointer rounded-3xl hover:rounded-xl transition-all
            ease-in-out duration-300;
  }
  .sidebar-tooltip {
    @apply  absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-lg
    text-white bg-gray-900 text-xs font-bold transition-all duration-100
    scale-0 origin-left;
  }

  .sidebar-hr {
    @apply bg-gray-200 dark:bg-gray-800 
    border border-gray-200 dark:border-gray-800 rounded-full
    mx-2;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
